body {
    font-family: "Noto Sans", sans-serif;
    background-color: rgb(1, 83, 121);
}
    button {
    padding: 15px 25px;
    font-size: 20px;
    cursor: pointer;
    background-color: rgb(172, 147, 5);
    color: white;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
    max-width: 220px;
    width: 100%;
    margin-left: 845px;
}
h1 {
    text-align: center;
    color: white;
    font-size: 40px;
    text-shadow: 10px 10px 10px rgba(248, 232, 3, 0.3);
}
h3 {
    text-align: center;
    color: white;
    font-size: 25px;
    text-shadow: 10px 10px 10px rgba(248, 232, 3, 0.3);
}
#para1 {
    text-align: center;
    color: white;
    font-size: 20px;
    text-shadow: 10px 10px 10px rgba(248, 232, 3, 0.3);
}

#para2 {
    text-align: center;
    color: white;
    font-size: 20px;
    text-shadow: 10px 10px 10px rgba(248, 232, 3, 0.3);
}